$black: #01020e;
$white: #f1ecdb;
$green: #abbc94;
$red:   #d4653e;

@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue.otf');
}
@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue Bold Italic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: SerifBeta;
    src: url('/static/fonts/SerifBeta_OTF/Serif6Beta-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: SerifBeta;
    src: url('/static/fonts/SerifBeta_OTF/Serif6Beta-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

@mixin box-item-links {
    li {
        display: inline-block;
        color: $black;
        font-family: BaronNeue, sans-serif;
        text-transform: lowercase;
        font-size: 1em;
        letter-spacing: 5px;
        border-color: $black;
        border-width: 2px;
        border-style: solid;
        padding: 5px 6px 3px 10px;
        margin: 6px;
        a {
            color: $black;
            text-decoration: none;
        }
    }

    li:hover {
        background-color: $white;
    }
}

@mixin box-item-links2 {
    li {
        display: inline-block;
        color: $black;
        font-family: BaronNeue, sans-serif;
        text-transform: lowercase;
        font-size: 1em;
        letter-spacing: 5px;
        border-color: $black;
        border-width: 2px;
        border-style: solid;
        padding: 5px 6px 3px 10px;
        margin: 6px;
        a {
            color: $black;
            text-decoration: none;
        }
    }

    li:hover {
        color: $black;
        a {
            color: $black;
        }
        background-color: $green;
    }
}

@mixin expand-a {
    a {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: $white;
    font-size: 14px;
}

#base_container {
    min-height: 100%;
    position: relative;
}

header {
    margin: 0 auto;
    background-color: $green;

    .titleimage {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    @media (min-width: 820px) {
        height: 60px;
        background-image: url(/static/images/trees_small.png), url(/static/images/mountains_small.png);
        background-position: 10px bottom, right bottom;
        background-repeat: no-repeat;
        border-color: $black;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        padding: 110px 250px 30px 250px;

        #housebox {
            position: absolute;
            top: 114px;
            left: 50px;
            background-image: url(/static/images/house_small.png);
            width: 85px;
            height: 86px;
            @include expand-a;
        }

        #housebox:hover {
            background-image: url(/static/images/house_red_small.png);
        }

        #catbox {
            position: absolute;
            top: 56px;
            left: 120px;
            background-image: url(/static/images/cat_small.png);
            width: 117px;
            height: 144px;
            z-index: 9;
        }

        #catbox_hoverbox {
            position: absolute;
            top: 166px;
            left: 156px;
            width: 22px;
            height: 34px;
            z-index: 10;
        }

        #catbox_hoverbox:hover + #catbox {
            background-image: url(/static/images/cat_meow_small.png);
        }

        #fblink {
            position: absolute;
            top: -20px;
            right: 280px;
            background-image: url(/static/images/WFG_FACEBOOKFAHNE_black.png);
            width: 31px;
            height: 125px;
            @include expand-a;
        }
        #fblink:hover {
            background-image: url(/static/images/WFG_FACEBOOKFAHNE_beige.png);
        }

        ul#language_chooser {
            position: absolute;
            top: 10px;
            right: 200px;
            width: 60px;
            text-align: right;
            li {
                display: block;
                a {
                    color: $black;
                    font-family: BaronNeue, sans-serif;
                    text-decoration: none;
                }
            }
        }
    }

    @media (max-width: 819px) {
        padding: 110px 10px 10px 10px;
        ul#language_chooser {
            display: inline-block;
            float: right;
            text-align: right;
            li {
                display: inline-block;
                a {
                    color: $black;
                    font-family: BaronNeue, sans-serif;
                    text-decoration: none;
                }
            }
        }
    }

    ul.navlinks {
        @include box-item-links;
        text-align: center;
    }
}

.nav2 {
    @include box-item-links2;
    text-align: center;
    li {
      margin-top: 0;
    }
}

.nav2.images li {
  padding: 5px;
}

.nav2_image {
  height: 290px;
  width: 172px;
  color: $white;
  text-align: center;
  padding-top: 10px;
}

.startcontent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/static/pictures/startbackground.jpg) no-repeat;
    background-size: 100%;
    background-position: center center;

    .startlink {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 234px;
        height: 300px;
        margin-top: -150px;
        margin-left: -117px;
        background: url(/static/images/startlink.png) no-repeat;
    }

    .startlink:hover {
        background: url(/static/images/startlink_active.png) no-repeat;
    }
}

.content {
    margin: auto;
    max-width: 800px;
    color: $black;
    background-color: $white;
    font-family: SerifBeta, serif;
    font-style: italic;
    padding: 30px 20px 50px 20px;
    padding-bottom: 100px;

    p, address {
        margin: 15px 0px;
        letter-spacing: 1.5px;
        line-height: 1.3em;
    }

    p.bigmargin {
        margin-top: 30px;
    }

    strong {
        font-weight: bold;
    }

    a {
        color: $black;
        font-weight: bold;
        text-decoration: none;
    }

    sup {
        vertical-align: super;
    }

    sub {
        vertical-align: sub;
    }

    sup, sub {
        font-size: smaller;
        margin-left: .1em;
    }

    a:hover {
        color: $red;
    }

    .opener {
        width: 100%;
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }

    .small_opener {
        width: 70%;
        display: block;
        margin: 40px auto;
    }

}

.infobox {
    background-color: $green;
    padding: 30px;
    border-color: $red;
    border-style: solid;
    border-width: 2px;
    margin-top: 50px;
    h2 {
        margin-top: 0;
    }
    p {
        margin: 0;
    }
    p ~ p {
        margin-top: 1em;
    }
}

.werkstatt_bilder {
  text-align: center;
  margin-bottom: 30px;
}

.guitarlist {
    li {
        margin: 5px;
        border-width: 0 0 0 0px;
        border-style: solid;
        border-color: $red;
        display: inline-block;
        img {
            margin: 0 auto;
            display: block;
            margin-bottom: 5px;
        }
        a {
            font-size: 1.2em;
            color: $black;
        }
        span {
            margin: 5px;
        }
        //background-color: $green;
    }
}

.guitarprops {
    float: left;
    width: 50%;
    line-height: 1.4em;
    h1 {
      margin-bottom: 1.4em;
    }
    b {
        font-weight: bold;
    }
    td, th {
        padding: 1px;
    }
    th {
        text-align: left;
        font-weight: bold;
        font-size: 1.2em;
        height: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 200px;
    }
    td {
        padding-right: 20px;
    }
}

.imagefloater {
    float: right;
    width: 50%;

    img.first {
        display: block;
        margin: 0 auto;
    }
}

.guitar_detail_image {
  margin-top: 140px;
  .secondary_images {
    margin-top: 20px;
    text-align: right;
  }
}

.description {
    clear: both;
    padding-top: 30px;
    line-height: 1.3em;
}

.floatclear {
    clear: both;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin: 0 auto;
    padding: 10px 0;
    color: $black;
    background-color: $red;
    text-align: center;
    @include box-item-links;
}

h1 {
    font-family: BaronNeue, sans-serif;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: 7.5px;
    line-height: 1.3em;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

h2 {
    font-family: BaronNeue, sans-serif;
    font-style: normal;
    font-size: 1.2em;
    letter-spacing: 7.5px;
    line-height: 1.3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h3 {
    font-family: SerifBeta, serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 2em;
    margin-bottom: 0.4em;
}

ul.ds {
    padding-left: 1em;
}

.ds {
    dt {
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: .2em;
    }
    dd {  letter-spacing: 1.5px;
      line-height: 1.3em;
        padding-left: 1em;
    }
    li {letter-spacing: 1.5px;
      line-height: 1.3em;
        list-style-type: circle;
        margin-bottom: .3em;
    }
}

.borderG {
    border-style: solid;
    border-width: 8px;
    border-color: $green;
    margin: 0 auto;
    display: block;
}

.plain {
    border-color: $green;
    margin: 0 auto;
    display: block;
}

#map.opener {
    height: 400px;
}
