$black: #01020e;
$white: #f1ecdb;
$green: #abbc94;
$red:   #d4653e;

@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue.otf');
}
@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: BaronNeue;
    src: url('/static/fonts/baron/Baron Neue Bold Italic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: SerifBeta;
    src: url('/static/fonts/SerifBeta_OTF/Serif6Beta-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: SerifBeta;
    src: url('/static/fonts/SerifBeta_OTF/Serif6Beta-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

@mixin box-item-links {
    li {
        display: inline-block;
        color: $black;
        font-family: BaronNeue, sans-serif;
        text-transform: lowercase;
        font-size: .8em;
        letter-spacing: 5px;
        border-color: $black;
        border-width: 2px;
        border-style: solid;
        padding: 5px 6px 3px 10px;
        margin: 6px;
        a {
            color: $black;
            text-decoration: none;
        }
    }

    li:hover {
        background-color: $white;
    }
}

body {
    background-color: $white;
}

header {
    margin: 0 auto;
    height: 60px;
    background-color: $green;
    background-image: url(/static/images/trees_small.png), url(/static/images/mountains_small.png);
    background-position: 10px bottom, right bottom;
    background-repeat: no-repeat;
    border-color: $black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 110px 250px 30px 250px;
    @include box-item-links;

    .titleimage {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    #housebox {
        position: absolute;
        top: 114px;
        left: 50px;
        background-image: url(/static/images/house_small.png);
        width: 85px;
        height: 86px;
    }

    #housebox:hover {
        background-image: url(/static/images/house_red_small.png);
    }

    #catbox {
        position: absolute;
        top: 56px;
        left: 120px;
        background-image: url(/static/images/cat_small.png);
        width: 117px;
        height: 144px;
        z-index: 9;
    }

    #catbox_hoverbox {
        position: absolute;
        top: 166px;
        left: 156px;
        width: 22px;
        height: 34px;
        z-index: 10;
    }

    #catbox_hoverbox:hover + #catbox {
        background-image: url(/static/images/cat_meow_small.png);
    }

    ul {
        text-align: center;
    }
}

.content {
    margin: auto;
    max-width: 800px;
    color: $black;
    background-color: $white;
    font-family: SerifBeta, serif;
    font-style: italic;
    padding: 30px 20px;

    p {
        margin: 10px 0px;
    }

    strong {
        font-weight: bold;
    }

    .opener {
        width: 100%;
        display: block;
        padding: 20px 0;
    }

}

footer {
    margin: 0 auto;
    padding: 10px;
    color: $black;
    background-color: $red;
    text-align: center;
    @include box-item-links;
}

h1 {
    font-family: BaronNeue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 2em;
}

h2 {
    font-family: BaronNeue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
}

.borderG {
    border-style: solid;
    border-width: 8px;
    border-color: $green;
    margin: 0 auto;
    display: block;
}

.plain {
    border-color: $green;
    margin: 0 auto;
    display: block;
}
