<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <link rel="stylesheet" href="{{ css_dir }}/stylesheet.css" type="text/css">
        <title>Werkstatt fuer Gitarrenbau</title>
    </head>
    <body>
        <div id="base_container">
        <header>
            <a href="/{{ lang }}/home.html"><img class="titleimage" src="/static/images/WFG_LOGO_WEN.png" alt="Werkstatt für Gitarrenbau"></a>
        <ul class="navlinks">
            {% for name, link in navitems %}
            <li><a href="/{{ lang }}{{ link }}" >{{ name[lang] }}</a></li>
            {% end %}
        </ul>
        <div id="housebox"><a href="/{{ lang }}/home.html"></a></div>
        <div id="catbox_hoverbox"></div>
        <div id="catbox"></div>
        <div id="fblink"><a href="https://www.facebook.com/WerkstattfuerGitarrenbau"></a></div>
        <ul id="language_chooser">
            {% for lang_tag, lang_name in languages %}
            {% if lang != lang_tag %}
            <li><a href="{{ switch_lang(lang_tag) }}">{{ lang_name }}</a></li>
            {% end %}
            {% end %}
        </ul>
        <div class="floatclear"></div>
        <audio id="catsound">
	        <source src="/static/audio/cat.mp3"></source>
            <source src="/static/audio/cat.ogg"></source>
        </audio>
        </header>
        <div class="content">
            {% block content %}
            <video class="opener" controls preload="auto" poster="/static/videos/wfg_imagefilm_1280x720_poster.jpg">
                <source src="/static/videos/wfg_imagefilm_1280x720.webm" type='video/webm;codecs="vp8, vorbis"' />
                <source src="/static/videos/wfg_imagefilm_1280x720.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                <source src="/static/videos/wfg_imagefilm_1280x720.ogv" type='video/ogg;codecs="theora, vorbis"' />
            </video>
            {% if lang == "de" %}
            <h1>Herzlich Willkommen<br>in der Werkstatt fuer Gitarrenbau!</h1>
            <p>
            Hier findet Ihr Informationen zu meinen Instrumenten, sowie meinem umfangreichen Reparaturangebot.</p>
            {% elif lang == "en" %}
            <h1>Welcome to Werkstatt fuer Gitarrenbau!</h1>
            <p>
            Here you can find information about my instruments as well as my extensive offer of repairs and restorations.
            </p>
            {% end %}
            <div class="infobox">
            <!--<h2></h2>-->
            {% if lang == "de" %}

            <p>Durch meine Nebentätigkeit in der Klangwerkstatt in Markt Wald bin ich nicht immer in der Werkstatt erreichbar.
              Gerne könnt Ihr mir eine Nachricht auf dem Anrufbeantworter hinterlassen,
              ich rufe Euch dann zurück. Oder schreibt mir einfach per email!</p>
            <p>Da ich mit der Philip Bradatsch Band auf Tour bin, bleibt die Werkstatt zwischen dem 23.12.2018 und dem 06.01.2019 geschlossen!
              Ich würde mich natürlich sehr freuen Euch bei dem ein oder anderen Konzert anzutreffen!</p>
            <p><h1> +++ Tour Dates +++ </h1></p>
            <p>-</p>
            <p>  23.11.2018   Buchhandlung Dombrowsky / Regensburg</p>
            <p>  28.11.2018   Tollwood / München</p>
            <p>  23.12.2018   Roundhouse / Kaufbeuren</p>
            <p>  26.12.2018   Taveerne Tivoli / Raalte, Niederlande</p>
            <p>  27.12.2018   Rockcafé de Engel / Den Helder, Niederlande</p>
            <p>  28.12.2018   The Wild Rover Irish Pub / Aachen</p>
            <p>  29.12.2018   Winter Rumble / Aarschot, Belgien</p>
            <p>  30.12.2018   Clouso / Meppel, Niederlande</p>
            <p>  31.12.2018   Alte Schlosserei / Wuppertal</p>
            <p>  01.01.2019   Exit Inside / Lokeren, Belgien</p>
            <p>  03.01.2019   Pallieter Café / Herselt, Belgien</p>
            <p>  04.01.2019   Q / Marburg</p>
            <p>  05.01.2019   Gotthard Bar / Zürich, Schweiz </p>

              {% elif lang == "en" %}
             <p>
            Unfortunately I'm not always available in my workshop because of my side job at the Klangwerkstatt Markt Wald. But don't hesitate to leave a message or email, I will get back to you!
            </p>

              {% end %}
            </div>
            {% end %}
        </div>
        <footer>
            <ul>
                <li><a href="/{{ lang }}/impressum.html">Impressum</a></li>
                <li><a href="/{{ lang }}/datenschutz.html">Datenschutz</a></li>
            </ul>
        </footer>
        </div>
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
            var audio = $("#catsound")[0];
            $("#catbox_hoverbox").mouseenter(function() {
                audio.volume = .3;
                audio.play();
                });
            </script>
        {% block extra_scripts %}

        {% end %}
    </body>
</html>
