{% extends "gitarren_base.html" %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<link rel="stylesheet" href="/static/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript">
    $(document).ready(function() {
                $(".fancybox").fancybox();
                    });
</script>
{% end %}

{% block gitarren_content %}
<div class="guitarprops">
<h1>{{ guitar['name'] }}</h1>

{% if True %}
<table>
    {% for key, name in guitar_properties %}
    {% if key in guitar['properties'] %}
    <tr><th colspan="2">{{ name }}</th>
    {% for prop, value in guitar['properties'].get(key, []) %}
    <tr><td>{{ prop }}:</td><td>{% raw value %}</td>
    {% end %}
    {% end %}
    {% end %}
    {% if 'price' in guitar %}
    <tr><th>{{ words["price"] }}</th><td>{{ guitar['price'] }}</td>
    {% end %}
</table>
{% else %}
    {% for key, name in guitar_properties %}
    {% if key in guitar['properties'] %}
    <h2>{{ name }}</h2>
    <ul>
    {% for prop, value in guitar['properties'].get(key, []) %}
    <li><b>{{ prop }}:</b> {{ value }}</li>
    {% end %}
    </ul>
    {% end %}
    {% end %}

{% end %}
</div>
<div class="imagefloater guitar_detail_image">
{% for image, size, _ in guitar['images'][:1] %}
<a class="fancybox" rel="guitars" href="{{ image }}.800.jpg">
    <img class="first" src="{{ image }}.300.jpg">
</a>
{% end %}
<div class="secondary_images">
{% for image, size, aspect_change in guitar['images'][1:] %}
<a class="fancybox" rel="guitars" href="{{ image }}.800.jpg">
    <img src="{{ image }}.100.jpg">
</a>
{% if aspect_change %}
<br>
{% end %}
{% end %}
</div>
</div>
<div class="description">
    {% raw format_text(guitar['text']) %}
</div>
<div class="floatclear"></div>
{% end %}
