{% extends "base.html" %}

{% block content %}
<h2>Neubau</h2>

<p>
Klang, Ergonomie und Ästhetik sind für mich Wegweiser in der Gestaltung neuer Instrumente. Für die Umsetzung dieser Ideen ist es mir möglich, auf eine Auswahl abgelagerter Tonhölzer von hoher Qualität zurückzugreifen. Durch meine seit Jahren wachsende Leidenschaft für Saiteninstrumente hat sich eine Bauweise entwickelt, die meiner ganz persönlichen Idealvorstellung einer Gitarre sehr nahe kommt.
Neben der eigenen Modelreihe, die sich stetig weiter entwickelt, steht der individuelle Gitarrenbau absolut im Vordergrund.
</p>
<p>
Nahezu jeder Musiker hat seine persönlichen Vorstellungen vom perfekten Instrument, daher biete ich jedem die Möglichkeit, bei der Gestaltung der Gitarre aktiv mitwirken zu können. Von der Auswahl der Hölzer, Korpusform, Mensur, Lackierung, Halsbreite & Profil bis hin zur Umsetzung der Klangvorstellungen ist eine Mitbestimmung stets möglich.
</p>

<h2>Restauration</h2>

<p>
Ein Raum für Reparaturobjekte mit größerem zeitlichen Aufwand. Hier möchte ich zeigen, dass nahezu jeder Schaden behoben werden kann und jedes Instrument eine ganz eigene Vorgehensweise erfordert. Ob ein historischer Zustand erhalten werden soll, oder doch größere Veränderungen am Instrument vorgenommen werden dürfen, ist vorab genau zu überdenken. Um diese Werte genau einschätzen zu können, stehe ich im Kontakt mit einem breiten Netzwerk von Instrumentenbauern verschiedener Fachgebiete.
</p>
<p>
Vor Restaurationsbeginn erstelle ich gerne einen Kostenvoranschlag.
</p>

<h2>Reparaturen</h2>

<p>
Gebrochener Kopf, Deckenriss, schlechte Bespielbarkeit oder einfach mal neue Saiten aufziehen? Oft sind nur kleinere Eingriffe notwendig um die Freude am Instrument wieder vollständig herstellen zu können. Gerne berate ich zum Thema Reparaturen und Saitenauswahl auch telefonisch. Um eine genaue Einschätzung, sowie einen Kostenvoranschlag treffen zu können, muss ich das Instrument jedoch in den Händen halten.
</p>
<p>
Zögern Sie nicht mich zu kontaktieren!
</p>

{% end %}

