<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="{{ css_dir }}/stylesheet.css" type="text/css">
        <title>Werkstatt fuer Gitarrenbau</title>
    </head>
    <body>
        <div class="startcontent">
            <a href="/home.html" class="startlink"></a>
        </div>
    </body>
</html>
