{% extends "base.html" %}

{% block content %}
<img class="small_opener" src="/static/pictures/Portrait_small.jpg" alt="portrait image">
<p>
Geboren 1987 in Landsberg am Lech, aufgewachsen im sonnigen Allgäu habe ich mit 14 Jahren das Gitarrespielen für mich entdeckt und mit meiner ausgeprägten Faszination für den Werkstoff Holz zum Gitarrenbau gefunden.
</p>
<p>
Die Ausbildung zum Zupfinstrumentenmacher habe ich 2008 im Gitarrenladen in Weingarten bei Andreas Dill und Franziska Kössl begonnen, und 2011 erfolgreich an der Berufsschule Mittenwald abgeschlossen.
</p>
<p>
Nach einem kurzen Aufenthalt in Japan, in dem ich meine Begeisterung für japanische Kultur, Werkzeuge und Gitarrenbau weiter verfolgen konnte, habe ich bis 2013 weitere Erfahrungen in der Kundenberatung und im Reparaturbereich im Gitarrenladen in Weingarten sammeln können.
</p>
<p>
Seit 2013 arbeite ich an und in meiner eigenen Werkstatt, die in meiner Heimat Linden bei Kaufbeuren angesiedelt ist und freue mich immer über interessierten Besuch!
</p>
{% end %}
