{% extends "base.html" %}

{% block content %}
<img style="width: 100%;" src="/static/pictures/01_Werstattpics.png" alt="Bilder aus der Werkstatt">
<img style="width: 100%;" src="/static/pictures/02_Werstattpics.png" alt="Bilder aus der Werkstatt">
<img style="width: 100%;" src="/static/pictures/03_Werstattpics.png" alt="Bilder aus der Werkstatt">
<img style="width: 100%;" src="/static/pictures/04_Werstattpics.png" alt="Bilder aus der Werkstatt">
<p>
In liebevoller Renovierungsarbeit ist im letzten Jahr die Werkstatt für Gitarrenbau in Linden bei Kaufbeuren in einem über 180 Jahre alten Bauernhaus entstanden.
</p>
<p>
Da wir den größten Teil dieser Arbeiten selbst verrichten, ist die Renovierung ein ständiger Prozess.
</p>
{% end %}
