{% extends "../gitarren_base.html" %}

{% block gitarren_content %}
<h2>Neubau</h2>

<p>
Klang, Ergonomie und Ästhetik sind für mich Wegweiser in der Gestaltung neuer Instrumente. Für die Umsetzung dieser Ideen ist es mir möglich, auf eine Auswahl abgelagerter Tonhölzer von hoher Qualität zurückzugreifen. Durch meine seit Jahren wachsende Leidenschaft für Saiteninstrumente hat sich eine Bauweise entwickelt, die meiner ganz persönlichen Idealvorstellung einer Gitarre sehr nahe kommt.
Neben der eigenen Modelreihe, die sich stetig weiter entwickelt, steht der individuelle Gitarrenbau absolut im Vordergrund.
</p>
<p>
Nahezu jeder Musiker hat seine persönlichen Vorstellungen vom perfekten Instrument, daher biete ich jedem die Möglichkeit, bei der Gestaltung der Gitarre aktiv mitwirken zu können. Von der Auswahl der Hölzer, Korpusform, Mensur, Lackierung, Halsbreite & Profil bis hin zur Umsetzung der Klangvorstellungen ist eine Mitbestimmung stets möglich.
</p>

<p>
<ul>
    {% for guitar in guitar_info %}
    <li><a href="/gitarren/neubau/{{ guitar['folder'] }}.html">{{ guitar['name'] }}</a></li>
    {% end %}
</ul>
</p>

{% end %}

