{% extends "../gitarren_base.html" %}

{% block gitarren_content %}
<h2>Reparaturen</h2>

<p>
Gebrochener Kopf, Deckenriss, schlechte Bespielbarkeit oder einfach mal neue Saiten aufziehen?
</p>
<p>
Oft sind nur kleinere Eingriffe notwendig um die Freude am Instrument wieder vollständig herstellen zu können. Gerne berate ich zum Thema Reparaturen und Saitenauswahl auch telefonisch. Um eine genaue Einschätzung, sowie einen Kostenvoranschlag treffen zu können, muss ich das Instrument jedoch in den Händen halten.
</p>
<p>
Zögern Sie nicht mich zu kontaktieren!
</p>
<p>
<a href="/static/pdf/preisliste_standardreparaturen.pdf" target="_blank">>>> Preisliste der Standardreparaturen</a>
</p>

{% end %}

