{% extends "../gitarren_base.html" %}

{% block gitarren_content %}
{% if lang == "de" %}
<h2>Reparaturen</h2>

<p>
Gebrochener Kopf, Deckenriss, schlechte Bespielbarkeit oder einfach mal neue Saiten aufziehen?
</p>
<p>
Oft sind nur kleinere Eingriffe notwendig, um die Freude am Instrument wieder vollständig herstellen zu können. Gerne berate ich zum Thema Reparaturen und Saitenauswahl auch telefonisch. Um eine genaue Einschätzung, sowie einen Kostenvoranschlag treffen zu können, muss ich das Instrument jedoch in den Händen halten.
</p>
<p>
Zögern Sie nicht mich zu kontaktieren!
</p>
<img class="small_opener" src="/static/pictures/reparatur.jpg" alt="reparatur image">
<p>
<a href="/static/pdf/Reparaturpreisliste_01_2023.pdf" target="_blank">>>> Preisliste der Standardreparaturen</a>
</p>
<p>
<a href="/static/pdf/Saitenpreisliste_01_2023.pdf" target="_blank">>>> Saitenpreisliste</a>
</p>
{% elif lang == "en" %}
<h2>repairs</h2>
<p>
A broken head, a cracked top, awful playability or just some new strings?
</p>
<p>
Often only little adjustments are necessary to regain the pleasure of playing your instrument again.
I'm happy to help you with all matters relating to repairs or other guitar issues by phone. Please take into account that to make a precise estimation or calculation of the repairs, I will need to take a closer look at the instrument myself.
</p>
<p>
Please do not hesitate to call me!
</p>
<img class="small_opener" src="/static/pictures/reparatur.jpg" alt="reparatur image">
<p>
<a href="/static/pdf/Reparaturpreisliste_2017.pdf" target="_blank">>>> standard rates</a>
</p>
{% end %}

{% end %}
