{% extends "../gitarren_base.html" %}

{% block gitarren_content %}
<h2>Restauration</h2>

<p>
Ein Raum für Reparaturobjekte mit größerem zeitlichen Aufwand. Hier möchte ich zeigen, dass nahezu jeder Schaden behoben werden kann und jedes Instrument eine ganz eigene Vorgehensweise erfordert. Ob ein historischer Zustand erhalten werden soll, oder doch größere Veränderungen am Instrument vorgenommen werden dürfen, ist vorab genau zu überdenken. Um diese Werte genau einschätzen zu können, stehe ich im Kontakt mit einem breiten Netzwerk von Instrumentenbauern verschiedener Fachgebiete.
</p>
<p>
Vor Restaurationsbeginn erstelle ich gerne einen Kostenvoranschlag.
</p>

{% end %}

